

.next-button-fixed {
  position: absolute;
  bottom: 40px;
  width: 100%;
  padding: 0 50px;
  text-align: center;
}

.btn-primary {
  background-color: $color-secondary;
  border: 1px solid $color-secondary;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1em;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
}

.btn-primary:hover {
  background-color: darken($color-secondary, 5%);
  border: 1px solid darken($color-secondary, 5%);
}
