.label {
  padding: 10px;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.label-default {
  background-color: white;
  color: $color-body;
}

.label-primary {
  background-color: red;
}

.label-foodpairing {
  background-color: $color-secondary;
}
