
.waiting-room {

  .container {
    padding: 0 30px;
  }

  .hero-text {
    color: $color-body;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

}

.waiting-room-players {

  display: block;
  margin-top: 160px;
  margin-bottom: 30px;
  position: relative;

  .main-player {
    text-align: center;
  }

  .main-player img {
    max-width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
  }

  .main-player span {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
    text-align: center;
  }

  .player {
    position: absolute;
    text-align: center;
  }

  .player img {
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
  }

  .player span {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.6em;
  }
}

.waiting-room-players {

  .player-one {
    left: 5%;
    bottom: 40px;
  }

  .player-two {
    left: 15%;
    bottom: 115px;
  }

  .player-three {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    bottom: 140px;
  }

  .player-four {
    right: 15%;
    bottom: 115px;
  }

  .player-five {
    right: 5%;
    bottom: 40px;
  }
}
