
.waiting-room {

  .container {
    padding: 0 30px;
  }

  .hero-text {
    color: $color-body;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

}

.waiting-room-players {

  display: block;
  margin-top: 160px;
  margin-bottom: 30px;
  position: relative;

  .main-player {
    text-align: center;
    border: 3px solid $color-body;
    height: 90px; width: 90px;
    border-radius: 50%;
    margin:0 auto;
    padding-top: 10px;
    line-height: 1.2;

    .timer {
      font-size: 2.5em;
      font-weight: normal;
      color: $color-body;
    }

    .timer-seconds {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1em;
      color: $color-body;
    }

  }

  .main-player img {
    max-width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
  }

  .main-player span {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75em;
    text-align: center;
  }

  .player {
    position: absolute;
    text-align: center;
  }

  .player img {
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
  }

  .player span {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.6em;
  }
}

.waiting-room-players {

  .player-one {
    left: 5%;
    bottom: 30px;
  }

  .player-two {
    left: 15%;
    bottom: 100px;
  }

  .player-three {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    bottom: 130px;
  }

  .player-four {
    right: 15%;
    bottom: 100px;
  }

  .player-five {
    right: 5%;
    bottom: 30px;
  }
}
